.App {
  text-align: center;
}

.wrapper{
  width:100%;
  display: flex;
  justify-content:center ;
}

.itemsContainer{
  margin-inline:100px;
}

.itemBox{
  position: absolute;
  background-color: rgb(255, 106, 0);
  border-radius: 20%;
  width:100px;
  top:100px;
  text-align: center;
  color:white;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}